@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Ubuntu+Mono&display=swap');

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
}
